<div>
    <%= form_tag("/tweets/#{@tweet.id}", method: :patch ) do %>
        <h3>
            編集する
        </h3>
        <textarea name="text" placeholder="textarea" rows="10" cols="100"><%= @tweet.text %></textarea> 
        <input class="btn" type="submit" value="SEND">
    <% end %>
</div>