<div class="content">
    <%= form_tag('/tweets', method: :post) do %>
      <h3>
       投稿する
      </h3>
      <div class="content_post">
      <textarea name="text" placeholder="text" rows="10" cols="100"></textarea>
      <input class="btn" type="submit" value="SEND">
    <% end %>
</div>
