<div class="content">
    <div class="content_change_edit">
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <li>
          <%= link_to '編集', "/tweets/#{@tweet.id}/edit",method: :get %>
        </li>
        <li>
        <%= link_to '削除', "/tweets/#{@tweet.id}/destroy",method: :delete %>
        </li>
    </div>
        <% end %>
        <div class="content_area">
        <%= simple_format(@tweet.text) %>
        </div>
    <div class="btn_show">
        <%= link_to 'ホームへ戻る',"/tweets",method: :get %>
    </div>
</div>